<?xml version="1.0" encoding="UTF-8"?>
<!--  해당 xml 에서 사용할 태그 규칙 지정 dtd
	mybatis 태그 규칙을 적용하기 위해 mybatis에서 제공하는 dtd를 적용 -->
	
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 
 <!-- 1. xml이 저 repository interface 와 연동(연결) 설정 -->
 <mapper namespace="com.skhoct30.spring.ex.database.repository.UsedGoodsRepository">
 
 	<!-- 연결된 repository의 특정 메소드에 대한 구현 (query) -->
 	<select id="selectUsedGoodsList" resultType="com.skhoct30.spring.ex.database.domain.UsedGoods">
 		SELECT
 			`id`
 			, `sellerId`
 			, `title`
 			, `price`
 			, `description`
 			, `image`
 			, `createdAt`
 			, `updatedAt`
 		FROM
 			`used_goods`
 	</select>
 	
 
 
 
 </mapper>