<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Thymeleaf 변수와 조건문</title>
</head>
<body>
	
	<h2>Thymeleaf 변수와 조건문</h2>
	
	<h3>1. 변수</h3>
	<div th:with="number = 100">
		<h4 th:text="${number}"></h4>
	
	</div>
	
	<!-- 변수가 선언된 하위 태그에서만 사용이 가능하다. 다음과 같이 혼자 써지면 안된다. -->
	<h4 th:text="${number}"></h4>
	
	
	
	
	
	<h3>2. 태그 없이 thymeleaf 활용</h3>
	<!--  block 태그는 최정 결과 html 에 포함되지 않는다, 페이지 소스 보기하면 block 태그는 보이지 않는다. 
		block 태그는 랜더링 되지 않는다.-->
	<th:block th:with="number1 = 200, number2 = 300">
		<h4 th:text="${number1}"></h4>
		<h4 th:text="${number1 + number2}"></h4>
		
		<!-- 결과 : 500  이라는 결과를 보여지게 하고싶다.-->
		<h4 th:text="'결과 : ' + ${number1 + number2}"></h4>
		<!--  엔터 위에 || 이거 또는 쓸때 사용한걸 앞뒤로 붙혀준다. -->
		<h4 th:text="|결과 : ${number1 + number2}|"></h4>
		
		
	</th:block>
	
	
	
	<h3>3. 태그 나타내기</h3>
	<!-- html escape 라고 불린다. 페이지 소스 보기 누르면 태그가 이상한 특수문자로 바꿔준다.-->
	<div th:text="'<b>진한글씨</b>'"></div>
	<div th:utext="'<b>진한글씨</b>'"></div> <!-- 얘는 정상적으로 태그가 보이지않고 적용되서 나온다. -->
	
	
	
	
	
	<h3>4. 조건문</h3>
	
	<th:block th:with="age = 18">
		<!-- th:if 속성은 값이 true 일때 해당 태그가 포험(랜더링) 된다. -->
		<!-- 이 변수를 통해서 15보다 크면 태그 보여주기. -->
		<h4 th:if="${age >= 15}">15살 이상입니다.</h4>
		
		<h4 th:if="${age >= 20}">성인 입니다.</h4>
		
		<!-- th:unless 속성은 값이 false 일때 해당 태그가 포함(랜더링) 된다. -->
		<h4 th:unless="${age >= 20}">미성년자 입니다.</h4>
	</th:block>
	
	
	
	
	
	<h3>5. switch 문</h3>
	
	<th:block th:with="season = '봄'">
	
		<!-- season 이 봄일 때는 따듯하다, 여름일 때는 덥다, 가을일때는 시원하다. 겨울일때는 춥다 -->
		<div th:switch="${season}">
			<h4 th:case="봄">따듯하다</h4>
			<h4 th:case="여름">덥다</h4>
			<h4 th:case="가을">시원하다</h4>
			<h4 th:case="겨울">춥다</h4>
			<h4 th:case="*">계절이 아닙니다.</h4>
		</div>
	</th:block>
	
	
	
</body>
</html>